*{
margin: 0;
padding: 0;
}

/*Navbar*/

.navbar{
    background-color: #fff;
}

.navbar nav ul li{
    list-style: none;
    padding: 20px 20px;
    display: flex;
}

.navbar nav ul li a{
    text-decoration: none;
    color: #FE9D0B;
    font-weight: bold;
    font-size: large;
   /* background-color:#0041A6;*/
    padding: 20px 20px;
}

.navbar nav ul{
    display: flex;
    margin: auto;
    text-align: center;
}
/*body*/

body{
    background-color:#723EE9 ;
    text-align: center;
}

.content{
    width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 295px;
    text-align: center;
    background-color: #fff;
    display: flex;
    box-shadow: 50px 80px #562FB0;
}

.content-text{
    display: block;
    margin: auto;
    font-weight: bold;
}

hr{
   margin: 50px 50px 50px 50px;
}

.profilo img{
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 50px;
    display: inline;
    margin-left: 20px;
    box-shadow: 30px 10px gray;
}

.social-img img{
    width: 20px;
    padding: 10px 10px;
}
.social-img{ 
    display: flex;
    margin-left: 50px; 
}

.email-btn {
    text-decoration: none ;
}

.email-btn h1{
    background-image: linear-gradient(#6B0461, #C208B0);
    border-radius: 10%;
    padding: 10px 10px !important;
    display: block;
    margin: auto;
    color: white;
}

/* responsive */

@media only screen and (max-width: 1200px) {
    
    body {
        overflow-x:hidden;
        overflow-y: visible;
    }

    .navbar nav ul{
        margin-left: 0px;
    }

    .navbar nav ul li a{
        text-decoration: none;
        color: #FE9D0B;
        font-weight: bold;
        font-size: large;
   /* background-color:#0041A6;*/
        padding: 5px 5px;
    }

    .content{
        display: block;
        width: 400px;
        height: 500px;
    }
    .profilo img{
        width: 200px;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 30px 10px gray;
    }
    

    .email-btn h1{
        background-image: linear-gradient(#6B0461, #C208B0);
        border-radius: 10%;
        padding: 5px 5px !important;
        width: 40%;
        display: block;
        margin: auto;
        color: white;
    }
    
    
    .social-img{ 
        margin-left: 160px; 
    }
   
}


