*{
margin: 0;
padding: 0;
}

/*Navbar*/

.navbar{
    background-color: #fff;
}

.navbar nav ul li{
    list-style: none;
    padding: 20px 20px;
    display: flex;
}

.navbar nav ul li a{
    text-decoration: none;
    color: #FE9D0B;
    font-weight: bold;
    font-size: large;
   /* background-color:#0041A6;*/
    padding: 20px 20px;
}

.navbar nav ul{
    display: flex;
    margin: auto;
    text-align: center;
}

/*body*/

body{
    background-color:#0054D4 ;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content{
    width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 295px;
    text-align: center;
    background-color: #fff;
    display: flex;
    box-shadow: 50px 80px #0041A6;
}

.content-text{
    display: block;
    margin: auto;
    font-weight: bold;
}

hr{
   margin: 50px 50px 50px 50px;
}

.profilo img{
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    display: inline;
    margin-left: 20px;
    box-shadow: 30px 10px gray;
}

.social-img img{
    width: 20px;
    padding: 10px 10px;
}
.social-img{ 
    display: flex;
    margin-left: 70px; 
}

/* responsive */

@media only screen and (max-width: 1200px) {

    body {
        overflow-x:hidden;
        overflow-y: visible;
    }


    .navbar nav ul{
        margin-left: 0px;
    }

    .navbar nav ul li a{
        text-decoration: none;
        color: #FE9D0B;
        font-weight: bold;
        font-size: large;
       /* background-color:#0041A6;*/
        padding: 5px 5px;
    }

    .content{
        display: block;
        width: 400px;
        height: 500px;
    }
    
    .social-img{ 
        margin-left: 160px; 
    }
   
}


